.fu {
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    width: 40%;
    padding: 0.5em;
    color: whitesmoke;
    -webkit-text-stroke: 1px darkblue ;

}

.imgBox {
    padding-top: 2em;
    background-color: lightblue;
    text-align: center;
    height: 35rem;
    position: relative;
}



